<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title><%=htmlWebpackPlugin.options.title%></title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'/>

</head>
<body id="body" ng-cloak layout="column" ng-controller="UsersController as app">
    <!-- Container #1 (see wireframe) -->
    <toolbar></toolbar>
    <!-- Container #2 -->
    <div flex layout="row">
        <!-- Container #3 -->
        <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                    md-component-id="left" ng-click="app.toggleList()">
            <!-- Custom UsersList component -->
            <users-list
                    users="app.users"
                    selected="app.selected"
                    on-selected="app.selectUser(user)">
            </users-list>
            <!--<menu-list></menu-list>-->
        </md-sidenav>
        <!-- Container #4 -->
        <md-content ui-view flex id="content">
            <!-- Custom UserDetails component -->
            <!--<user-details-->
                    <!--selected="app.selected" >-->
            <!--</user-details>-->
            <material-widget></material-widget>
            <!--<register></register>-->
        </md-content>
        <button ng-click="app.toggleUsersList()">ddd</button>
        <button id="ensure" style="display: none;">ensure</button>
    </div>
</body>
</html>